<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>Reserva de Hora</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Reserva de Hora</ion-title>
    </ion-toolbar>
  </ion-header>

  <div id="container">
    <div>
      <ion-item>
        <ion-label>Cancha: {{ canchaS.name }}</ion-label>        
      </ion-item>
      <ion-item>
        <ion-label position="floating">Fecha de Reserva</ion-label>
        <ion-input type="date" [(ngModel)]="fecha"></ion-input>
      </ion-item>
      
    </div>

    <ion-button expand="block" (click)="register()">Registrar</ion-button>
    <ion-button expand="block" (click)="return()">Regresar</ion-button>
  </div>
</ion-content>
