<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>home</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">home</ion-title>
    </ion-toolbar>
  </ion-header>

  <!--Lista con canchas y sus ubicaciones-->
  <ion-list>
    <ion-item *ngFor="let field of fields">
      <ion-card (click)="irFormulario(field)">
        <img alt="Silhouette of mountains" src="{{ field.image }}" />
        <ion-card-header>
          <ion-card-title>{{ field.name }}</ion-card-title>
        </ion-card-header>
        <ion-card-content>
          <p>Dirección : {{ field.address }}</p>
          <p>Teléfono : {{ field.phone }}</p>
          <p>Valor Arriendo : {{ field.price }}</p>
          <p><ion-icon name="star-sharp"></ion-icon> {{ field.rating }}</p>
        </ion-card-content>
      </ion-card>      
    </ion-item>
  </ion-list>
</ion-content>
