<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>Reserva Canchas Deportivas</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <p>
    Bienvenido a la App Reserva de Canchas Deportivas. Esta aplicación te ayudará a encontrar el más cercano
    campo deportivo a su ubicación.
  </p>
  <hr />
  <p>
  
  </p>
  <ion-icon name="arrow-down-outline"></ion-icon>

  <ion-tabs>
    <ion-tab-bar slot="bottom">
      <ion-tab-button tab="home">
        <ion-icon name="home-outline"></ion-icon>
        <ion-label>Main</ion-label>
      </ion-tab-button>
      <ion-tab-button tab="locations">
        <ion-icon name="map-outline"></ion-icon>
        <ion-label>Locations</ion-label>
      </ion-tab-button>
      <ion-tab-button tab="settings">
        <ion-icon name="settings-outline"></ion-icon>
        <ion-label>Settings</ion-label>
      </ion-tab-button>
      <ion-tab-button tab="logout">
        <ion-icon name="log-out-outline"></ion-icon>
        <ion-label>Logout</ion-label>
      </ion-tab-button>
    </ion-tab-bar>
  </ion-tabs>
</ion-content>
